// importando pasta settings
@import "settings/breaks.scss";
@import "settings/colors.scss";
@import "settings/fonts.scss";

// importando pasta tools
@import "tools/bs-grid/bootstrap-grid.scss";
@import "tools/mymixins.scss";

// importando pasta generic
@import "generic/reset.scss";
@import "generic/myreset.scss";

// importando pasta base
@import "base/styles.scss";

// importando pasta objects
@import "objects/wrap-main.scss";

// importando pasta components
@import "components/build-section.scss";
@import "components/company-section.scss";
@import "components/product-section.scss";
@import "components/catalogo-section.scss";
